body {
  top: 0;
  margin: 0;

  background: #f3f6fc;
}
.iconText {
  margin-top: 200px;
}
i.fa.fa-caret-square-o-down {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 0px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin: 0px !important;
}
i.fa.fa-caret-square-o-right {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 0px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin: 0px !important;
}

i.fa.fa-caret-square-o-down:before {
  content: ' ';
  width: 9px;
  height: 9px;
  display: block;
  margin: 0px;
}
i.fa.fa-caret-square-o-right:before {
  content: ' ';
  width: 9px;
  height: 9px;
  display: block;
  margin: 0px;
}

button.btn.btn-default.json-editor-btn-collapse.json-editor-btntype-toggle {
  border: none;
  height: 15px;
  margin-bottom: 6px;
}
/* .je-object__container h3.je-header {
  display: table;
}

h3.je-header label {
  display: table-header-group;
}

h3.je-header button {
  display: table-footer-group;
} */
button.btn.btn-default.json-editor-btn-collapse.json-editor-btntype-toggle:hover {
  background: transparent;
}
.main-wrapper {
  padding-top: 45px;
  background: linear-gradient(219.44deg, #f6fbff 5.43%, #efeff9 109.55%);
  min-height: 88vh;
}
a.validateWithSamwill {
  margin-right: 10px;
  background: #f4f7fd;
  padding: 5px 14px;
  border-radius: 5px;
  color: #1c1e21 !important;
  cursor: pointer;
}
button.btn.btn-default {
  outline: none;
}

button:focus {
  background: transparent;
}

button.btn.btn-default.json-editor-btn-collapse.json-editor-btntype-toggle:focus {
  outline-offset: 0px !important;
  background-color: #fff !important;
}
.errorStatus {
  position: absolute;
  bottom: -20px;
  width: 80%;
  left: 10%;
  right: 10%;
  background: rgb(255 0 0 / 30%);
  border-radius: 5px;
  padding: 7px;
  color: #1c1e21;
  box-shadow: 0px 12px 12px -6px rgb(79 118 178 / 17%);
}

.errorStatus p {
  margin: 0px;
}
.nav-wrapper {
  align-items: baseline;
}

header {
  background: #1c1e21;
  display: flex !important;
  padding: 32px 32px;
  justify-content: space-between;
}
.nav-wrapper {
  justify-content: flex-end;
  margin-right: 0;
  display: flex;
  align-self: center;
}
.logo-wrapper h1 {
  color: #fff;
  margin: 0px;
}

.nav-wrapper a {
  color: #fff;
}

div#editor {
  background: #ffffff;
  box-shadow: 0px 12px 12px -6px rgb(79 118 178 / 17%);
  border-radius: 5px;
}
div[data-schemaid='root'] {
  padding: 20px;
}
div[data-schemaid='root'] h3 {
  margin-top: 0px;
}
/* main section */
.editor-top-section h2 {
  margin-top: 0px;
}
.switcher-json {
  justify-content: flex-end;
  margin-right: 0;
  display: flex;
  align-self: center;
}

.editor-top-section {
  display: flex;
  justify-content: space-between;
}
.switcher-json {
  cursor: pointer;
}
.switcher-json span {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #2e3141;
  margin-left: 10px;
}
.switcher-json svg {
  pointer-events: none;
}

.switcher-json span {
  pointer-events: none;
}
input.form-control {
  background: #f6f9fc;
  border-radius: 5px;
  border: none;
  height: 46px;
}

.well {
  background: #fff !important;
  border: 0px;
  box-shadow: none;
}
.json-editor-btn-add {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #a6abc4;
  background: #f0f2f8;
  border-radius: 6px !important;
  border: 0px;
  padding: 15px 28px;
}

.well.well-sm .well {
  border: 0px !important;
}
.well.well-sm {
  border: 0px;
  padding: 9px 4px;
}
button.btn.btn-default {
  border: 0px;
}
.form-group select.form-control {
  margin-bottom: 0px !important;
  height: 46px;
  background: #f6f9fc;
  border: 0px;
}

.well.well-sm {
  margin-bottom: 0px !important;
}

button.btn.btn-default {
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #a6abc4;
  border: 2px solid;
  border-radius: 5px !important;
  padding: 11px 9px;
}
button.btn.btn-default .fa {
  margin-right: 6px;
}
button.btn.btn-default .fa.fa-arrow-up,
button.btn.btn-default .fa.fa-arrow-down {
  margin-right: 0px;
}
button.btn.btn-default {
  height: 39px;
}

.btn-group button:first-child {
  margin-right: 10px;
}
.tab-nav-item p {
  pointer-events: none;
}
/* main section */
/* right section */
.tab-nav-body__item {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding-bottom: 1px;
  color: #a6abc4;
}
.uploadView {
  cursor: pointer;
  height: 540px;
  border: 2px dashed;
  border-radius: 5px;
  padding: 10px;
  margin: 0px 3%;
  text-align: center;
  padding-top: 45px;
  width: 94%;
}
textarea.sampleBox {
  width: 94%;
  margin: 0px 3%;
  margin-bottom: 10px;
  border-radius: 5px;
  background: #f2f4fc;
  border: 2px solid #a6abc4;
  line-height: 20px;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.5px;
  padding: 10px;
  min-height: 540px;
}
.tab-nav-body__item input {
  visibility: hidden;
}
.tab-nav-contaier {
  margin-top: 43px;
}
.tab-nav-body {
  min-height: 580px;
  background: #e8edf8;
  border-radius: 0px 0px 5px 5px;
}
.tab-nav-body__item.active {
  display: block;
}

.tab-nav-body__item {
  display: none;
}

.tab-nav-controller {
  display: flex;
  justify-content: space-between;
}

.tab-nav-controller .tab-nav-item {
  width: 50%;
  text-align: center;
  background: #e8edf8;
  opacity: 0.5;
  cursor: pointer;
}

.tab-nav-controller .tab-nav-item:first-child {
  margin-right: 2px;
}

.tab-nav-controller .tab-nav-item:last-child {
  margin-left: 3px;
}

.tab-nav-item.active {
  opacity: 1;
}
.tab-nav-item p {
  padding: 15px 0px;
  margin: 0px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #a6abc4;
}
.tab-nav-item {
  border-radius: 5px 5px 0px 0px;
}
.innerTab ul {
  display: inline;
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0px;
  padding-top: 5px;
  margin-bottom: 9px;
}

.innerTab ul li {
  font-size: 12px;
  font-weight: 500;
  text-transform: none;
  cursor: pointer;
}

.innerTab ul li.active {
  color: #2ba88b;
  text-decoration: underline;
}

input#fileUploadButton {
  height: 0px;
}
.inputView {
  display: none;
}

.inputView.active {
  display: block;
}
.tab-nav-item.successed {
  background: #2ca88b;
  color: #fff !important;
}

.tab-nav-item.successed p {
  color: #fff;
}
textarea#parsedLogs {
  margin-top: 10px;
}
/* right section */
